/*adds styling to buttons when the use hovers over a choice*/
button:hover {
    background-color: blue;
    color: white;
}

body {
    background-image: url("../images/background.png");
    font-size: 12pt;
}
